*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --primary-background: #ff7f50; 
    --primary-color: #ff7f50; 
}

.btn{
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #333;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.btn:hover{
    background: rgba(257, 157, 80, 0.25);
    border: none;
}

html,

body{
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.backdrop{
    position: fixed;
    display: none;
    z-index:2000;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0 ,0.5);
}

.menu-modal{
    display: none;
    position: fixed;
    left: 30%;
    top: 5%;
    height: 90%;
    background: white;
    width: 40%;
    z-index:3000;
    overflow-y: auto;
    padding: 1.5rem 0;

 
    .menu {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }
    h2 {
        font-size: 2em;
        margin-bottom: 20px;
        color: var(--primary-color)
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        padding: 10px;
        margin: 10px 0;
        background-color: #f4f4f4;
        border-radius: 5px;
        font-size: 1.2em;
        display: flex;
        justify-content: space-between;
    }
    .item-name {
        flex: 1;
        text-align: left;
    }
    .item-price {
        flex: 0 0 80px;
        text-align: right;
    }
}



.product-overview{
    background: url("../images/restaurant.jpg") center/cover no-repeat;
    width: 100%;
    height: 60vh;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.header .logo {
    width: 130px;
}

.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container-sm{
    max-width: 768px;
}

.container-md{
    max-width: 900px;

}

.header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-container__logo{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 32px;
}
.header .header-container__logo a {
    color: var(--primary-color);
    text-transform: uppercase;
}


.header .header-container .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header .main-menu {
    display: flex;
    gap: 1rem;
    margin-right: 1.5rem;
    
}

.header {
    background: linear-gradient(to bottom,#efefef 50%, #fafafa);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .main-menu a {
    padding: 0.75rem 1.2rem;
}

.header .main-menu a:hover,
.header .main-menu a:active
{
    background: var(--primary-background);
}

.current
{
    background: var(--primary-background);
}

.hero{
    width: 100%;
    margin: 3rem auto;
    text-align: center;
}

.hero-text{
    text-align: center;
    font-weight: normal;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "feature-items about";
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}
.about .about-text{
    align-self: start;
    grid-area: about;
}

.about-text h3 {
    text-align: center;
    color: var(--primary-color)
}

.feature-items{
    grid-area: feature-items;
    max-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item1 item2"
                         "item3 item4";
    gap: 1rem;
    grid-auto-rows: 30rem;
    padding: 0 2rem;
    align-content: stretch; 
    justify-items: start;
}

.feature-item:hover{
    cursor: pointer;
    opacity: 0.8;
    
}


.feature-items img {
    height: 100%;
    width: 100%;
    border-radius: 10px;

}


.footer{
    border-top: 1px solid #aaa;
    padding: 2rem 1.5rem;
    margin-top: 2rem;
    text-align: center;
}

.footer .footer-flex{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;


}


h4{
    margin-bottom: 0.5rem;
}


/* Contact */

.contact {
    padding: 3rem 0 4rem;
    text-align: center;
}


.form-group {
    margin: 2rem;
}

.contact input,
.contact textarea {
    border: none;
    border-bottom: 1px #333 solid;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    padding-bottom: 1rem;
}

.contact textarea {
    height: 200px;
    resize: none;
}

.contact .btn{
    width: 100%;
}


@media(max-width: 1000px){
    .logo{
        display: none;
    }
}


@media(max-width: 768px){


    .about{
        grid-template-columns: 1fr;
        grid-template-areas: "about"
                              "feature-items";
        gap: 1.5rem;
        width: 80%;
        margin: 0 auto;
        
    }
    .feature-items{
        max-height: 50px;
        padding: 0 1rem;
    }
    .product-overview{
        height: 30vh;
    }

    .hero{
        width: 80%;
        margin: 3rem auto 4rem;
    }
    .hero-text{
        font-size: 1.15rem;
    }

    .header .header-container,
    .footer .footer-flex {
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer{
        margin: 0 auto;
        margin-top: 12rem; 
        padding: 0;
    }
    .footer .footer-flex{
        align-items: center;
        padding: 0;
    }
    .footer .footer-flex div:first-of-type{
        margin: 0 auto;
    }

    .header .main-menu {
        gap: 0.5rem;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
    }
    .header .main-menu a {
        padding: 1rem .5rem;
    }

    .menu-modal{
        width: 80%;
        left: 0;
        height: 50%;
    }
}


@media(max-width: 768px) and (orientation: portrait){
    .menu-modal{
        width: 90%;
        top: 10%;
        left: 5%;
        height: 50%;
    }
}


